<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group">
    <input type="text"
           formControlName="velocity"
           class="form-control"
           placeholder="Enter velocity">
  </div>
  <div class="form-group">
    <input type="text"
           formControlName="duration"
           class="form-control"
           placeholder="Enter duration">
  </div>
  <div class="form-group">
    <button type="submit">
      Add
    </button>
  </div>
</form>
