<div>
  <app-loop (note)="onAddNote($event)"></app-loop>
</div>
<div class="row">
  <div class="pads" *ngFor="let note of notes">
    <app-sequence (sequence)="onAddSequence($event)" [note]="note"></app-sequence>
  </div>
</div>
<form (submit)="onSubmit()">
  <div class="form-group">
    <button type="submit">
      GO
    </button>
  </div>
</form>

