.pad {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 10px;
  border-radius: 5px;
  transition: ease-in-out 0.1s;
}

.active {
  background-color: red;
  box-shadow: 0 0 5px 5px rgba(255, 0 ,0, 0.5);
}
