<body>
  <div>
    <app-add-pad (addPad)="onAddPad($event)"></app-add-pad>
  </div>
  <div class="row">
    <div class="pads" *ngFor="let pad of pads">
      <app-pad [pad]="pad"></app-pad>
    </div>
  </div>
</body>


