<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Choose sound source" formControlName="soundSource">
        <mat-option *ngFor="let source of soundSource" [value]="source.value">
          {{source.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div [ngSwitch]="form.value.soundSource">
    <div *ngSwitchCase="'custom'">
      <mat-form-field class="form-group">
        <input matInput placeholder="Bind hotkey" (keydown)="onChange($event)">
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="form.value.key">
    <div class="form-group">
      <upload-form (gotLink)="onLink($event)"></upload-form>
    </div>
    <div>
      <button mat-raised-button class="button-custom" (click)="onGo()">
        Add
      </button>
    </div>
  </div>

  <!--<div class="form-group">-->
    <!--<input type="number"-->
           <!--formControlName="key"-->
           <!--class="form-control"-->
           <!--placeholder="Enter Key">-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<input type="text"-->
           <!--formControlName="velocity"-->
           <!--class="form-control"-->
           <!--placeholder="Enter velocity">-->
  <!--</div>-->


</form>




